@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white:#fff;
    --black:##000000;
    --orange:#E7760D;
    --grey:#6D6E71;
    --green:#00732F;
    --red:#EB7150;
    --blue:#072F57;
    --black:#000000;
    --lightblue:#E8FBFF;
}
html{scroll-behavior: smooth;}


body {
 margin: 0;
 font-family: 'Poppins', sans-serif; /* Apply Poppins font */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 /* background-color: var(--black); */
 color: var(--white);
}
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background-color: var(--grey);
}

a{
    color:var(--white) !important;
    text-decoration: none !important    ;
}